<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
  <testsuite name="KibbleMad">
    <directory suffix="Test.php">./tests</directory>
  </testsuite>

  <php>
    <server name="APP_ENV" value="testing"/>
    <server name="BCRYPT_ROUNDS" value="10"/>
    <server name="CACHE_DRIVER" value="array"/>
    <server name="MAIL_DRIVER" value="array"/>
    <server name="QUEUE_CONNECTION" value="sync"/>
    <server name="SESSION_DRIVER" value="array"/>
    <server name="DB_CONNECTION" value="pgsql"/>
    <server name="DB_HOST" value="127.0.0.1"/>
    <server name="DB_PORT" value="5432"/>
    <server name="DB_DATABASE" value="default"/>
    <server name="DB_USERNAME" value="default"/>
    <server name="DB_PASSWORD" value="secret"/>
  </php>
</phpunit>
