/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.cache

docker/mysql-data
docker/www_logs
storage/h5p/temp
.env.local.testing
/coverage

storage/h5p/libraries/**
storage/h5p/editor/images/**

storage/h5p/cachedassets/*
storage/h5p/editor/**
storage/scorm/**

escolasoft/**/vendor
.DS_Store

bootstrap/cache/**/*
/packages


/public/h5p
/public/h5p-editor
/public/h5p-core
/public/scorm/**


storage/api-docs/api-docs.json
composer.lock
yarn.lock


packages