(cors) {
  @origin{args.0} header Origin {args.0}
  header @origin{args.0} Access-Control-Allow-Origin "{args.0}"
  header Access-Control-Allow-Credentials true
}

http://localhost:1000 {
    root * /var/www/html
    php_fastcgi 0.0.0.0:9000
    file_server
}