<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./vendor/escolalms/auth/</directory>
      <directory suffix=".php">./vendor/escolalms/bookmarks_notes/</directory>
      <directory suffix=".php">./vendor/escolalms/cart/</directory>
      <directory suffix=".php">./vendor/escolalms/categories/</directory>
      <directory suffix=".php">./vendor/escolalms/core/</directory>
      <directory suffix=".php">./vendor/escolalms/courses/</directory>
      <directory suffix=".php">./vendor/escolalms/course-access/</directory>
      <directory suffix=".php">./vendor/escolalms/courses-import-export/</directory>
      <directory suffix=".php">./vendor/escolalms/csv-users/</directory>
      <directory suffix=".php">./vendor/escolalms/files/</directory>
      <directory suffix=".php">./vendor/escolalms/headless-h5p/</directory>
      <directory suffix=".php">./vendor/escolalms/images/</directory>
      <directory suffix=".php">./vendor/escolalms/lrs/</directory>
      <directory suffix=".php">./vendor/escolalms/mailerlite/</directory>
      <directory suffix=".php">./vendor/escolalms/notifications/</directory>
      <directory suffix=".php">./vendor/escolalms/model-fields/</directory>
      <directory suffix=".php">./vendor/escolalms/pages/</directory>
      <directory suffix=".php">./vendor/escolalms/payments/</directory>
      <directory suffix=".php">./vendor/escolalms/permissions/</directory>
      <directory suffix=".php">./vendor/escolalms/recommender/</directory>
      <directory suffix=".php">./vendor/escolalms/reports/</directory>
      <directory suffix=".php">./vendor/escolalms/scorm/</directory>
      <directory suffix=".php">./vendor/escolalms/settings/</directory>
      <directory suffix=".php">./vendor/escolalms/stationary-events/</directory>
      <directory suffix=".php">./vendor/escolalms/tags/</directory>
      <directory suffix=".php">./vendor/escolalms/tasks/</directory>
      <directory suffix=".php">./vendor/escolalms/topic-types/</directory>
      <directory suffix=".php">./vendor/escolalms/topic-type-gift/</directory>
      <directory suffix=".php">./vendor/escolalms/topic-type-project/</directory>
      <directory suffix=".php">./vendor/escolalms/templates/</directory>
      <directory suffix=".php">./vendor/escolalms/templates-email/</directory>
      <directory suffix=".php">./vendor/escolalms/templates-sms/</directory>
      <directory suffix=".php">./vendor/escolalms/templates-pdf/</directory>
      <directory suffix=".php">./vendor/escolalms/assign-without-account/</directory>
      <directory suffix=".php">./vendor/escolalms/tracker/</directory>
      <directory suffix=".php">./vendor/escolalms/translations/</directory>
      <directory suffix=".php">./vendor/escolalms/vouchers/</directory>
      <directory suffix=".php">./vendor/escolalms/consultations/</directory>
      <directory suffix=".php">./vendor/escolalms/consultation-access/</directory>
      <directory suffix=".php">./vendor/escolalms/webinar/</directory>
      <directory suffix=".php">./vendor/escolalms/cmi5/</directory>
      <!-- <directory suffix=".php">./vendor/escolalms/video/</directory> -->
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Integrations">
      <directory suffix="Test.php">./tests/Integrations</directory>
    </testsuite>
    <testsuite name="auth">
      <directory suffix="Test.php">./vendor/escolalms/auth/tests</directory>
    </testsuite>
    <testsuite name="bookmarks_notes">
      <directory suffix="Test.php">./vendor/escolalms/bookmarks_notes/tests</directory>
    </testsuite>
    <testsuite name="cart">
      <directory suffix="Test.php">./vendor/escolalms/cart/tests</directory>
    </testsuite>
    <testsuite name="categories">
      <directory suffix="Test.php">./vendor/escolalms/categories/tests</directory>
    </testsuite>
    <testsuite name="core">
      <directory suffix="Test.php">./vendor/escolalms/core/tests</directory>
    </testsuite>
    <testsuite name="courses">
      <directory suffix="Test.php">./vendor/escolalms/courses/tests</directory>
    </testsuite>
    <testsuite name="course-access">
      <directory suffix="Test.php">./vendor/escolalms/course-access/tests</directory>
    </testsuite>
    <testsuite name="courses-import-export">
      <directory suffix="Test.php">./vendor/escolalms/courses-import-export/tests</directory>
    </testsuite>
    <testsuite name="csv-users">
      <directory suffix="Test.php">./vendor/escolalms/csv-users/tests</directory>
    </testsuite>
    <testsuite name="files">
      <directory suffix="Test.php">./vendor/escolalms/files/tests</directory>
    </testsuite>
    <testsuite name="headless-h5p">
      <directory suffix="Test.php">./vendor/escolalms/headless-h5p/tests</directory>
    </testsuite>
    <testsuite name="images">
      <directory suffix="Test.php">./vendor/escolalms/images/tests</directory>
    </testsuite>
    <testsuite name="invoices">
      <directory suffix="Test.php">./vendor/escolalms/invoices/tests</directory>
    </testsuite>
    <testsuite name="lrs">
      <directory suffix="Test.php">./vendor/escolalms/lrs/tests</directory>
    </testsuite>
    <testsuite name="mailerlite">
      <directory suffix="Test.php">./vendor/escolalms/mailerlite/tests</directory>
    </testsuite>
    <testsuite name="model-fields">
      <directory suffix="Test.php">./vendor/escolalms/model-fields/tests</directory>
    </testsuite>
    <testsuite name="notifications">
      <directory suffix="Test.php">./vendor/escolalms/notifications/tests</directory>
    </testsuite>
    <testsuite name="payments">
      <directory suffix="Test.php">./vendor/escolalms/pages/tests</directory>
    </testsuite>
    <testsuite name="payments">
      <directory suffix="Test.php">./vendor/escolalms/payments/tests</directory>
    </testsuite>
    <testsuite name="permissions">
      <directory suffix="Test.php">./vendor/escolalms/permissions/tests</directory>
    </testsuite>
    <testsuite name="recommender">
      <directory suffix="Test.php">./vendor/escolalms/recommender/tests</directory>
    </testsuite>
    <testsuite name="reports">
      <directory suffix="Test.php">./vendor/escolalms/reports/tests</directory>
    </testsuite>
    <testsuite name="scorm">
      <directory suffix="Test.php">./vendor/escolalms/scorm/tests</directory>
    </testsuite>
    <testsuite name="settings">
      <directory suffix="Test.php">./vendor/escolalms/settings/tests</directory>
    </testsuite>
    <testsuite name="stationary-events">
      <directory suffix="Test.php">./vendor/escolalms/stationary-events/tests</directory>
    </testsuite>
    <testsuite name="tags">
      <directory suffix="Test.php">./vendor/escolalms/tags/tests</directory>
    </testsuite>
    <testsuite name="tasks">
      <directory suffix="Test.php">./vendor/escolalms/tasks/tests</directory>
    </testsuite>
    <testsuite name="topic-types">
      <directory suffix="Test.php">./vendor/escolalms/topic-types</directory>
    </testsuite>
    <testsuite name="topic-type-gift">
      <directory suffix="Test.php">./vendor/escolalms/topic-type-gift</directory>
    </testsuite>
    <testsuite name="topic-type-project">
      <directory suffix="Test.php">./vendor/escolalms/topic-type-project</directory>
    </testsuite>
    <testsuite name="templates">
      <directory suffix="Test.php">./vendor/escolalms/templates</directory>
    </testsuite>
    <testsuite name="templates-email">
      <directory suffix="Test.php">./vendor/escolalms/templates-email</directory>
    </testsuite>
    <testsuite name="templates-sms">
      <directory suffix="Test.php">./vendor/escolalms/templates-sms</directory>
    </testsuite>
    <testsuite name="templates-pdf">
      <directory suffix="Test.php">./vendor/escolalms/templates-pdf</directory>
    </testsuite>
    <testsuite name="assign-without-account">
      <directory suffix="Test.php">./vendor/escolalms/assign-without-account</directory>
    </testsuite>
    <testsuite name="tracker">
      <directory suffix="Test.php">./vendor/escolalms/tracker</directory>
    </testsuite>
    <testsuite name="translations">
      <directory suffix="Test.php">./vendor/escolalms/translations</directory>
    </testsuite>
    <testsuite name="vouchers">
      <directory suffix="Test.php">./vendor/escolalms/vouchers</directory>
    </testsuite>
    <testsuite name="consultations">
      <directory suffix="Test.php">./vendor/escolalms/consultations</directory>
    </testsuite>
    <testsuite name="consultation-access">
      <directory suffix="Test.php">./vendor/escolalms/consultation-access</directory>
    </testsuite>
    <testsuite name="webinar">
      <directory suffix="Test.php">./vendor/escolalms/webinar</directory>
    </testsuite>
    <testsuite name="cmi5">
      <directory suffix="Test.php">./vendor/escolalms/cmi5</directory>
    </testsuite>
    <!--
    <testsuite name="video">
      <directory suffix="Test.php">./vendor/escolalms/video/tests</directory>
    </testsuite>
    -->
  </testsuites>
  <php>
    <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF" />
    <env name="DB_CONNECTION" value="pgsql" />
    <env name="DB_HOST" value="127.0.0.1" />
    <env name="DB_PORT" value="5432" />
    <env name="DB_DATABASE" value="default" />
    <env name="DB_USERNAME" value="default" />
    <env name="DB_PASSWORD" value="secret" />
    <env name="CONFIG_USE_DATABASE" value="true"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <ini name="memory_limit" value="1024M"/>
  </php>
</phpunit>
