
http://api.localhost:1001 {
    # Resolve the root directory for the app
    root * /var/www/html/public

    # Provide Zstd and Gzip compression
    encode zstd gzip

    # Allow caddy to serve static files
    file_server

    # Enable PHP-FPM
    php_fastcgi escola_lms_app:9000 {
        header_up -Access-Control-Allow-Origin
        header_down -Access-Control-Allow-Origin
    }

    # Cors logic 
    @origin header Origin {http.request.header.Origin}
    header @origin Access-Control-Allow-Origin {http.request.header.Origin}

    #@referer header Referer {http.request.header.Referer}
    #header @referer Access-Control-Allow-Origin {http.request.header.Referer}

    @excluded { 
        not header Origin {http.request.header.Origin}
        #not header Referer {http.request.header.Referer}
    }
    header @excluded Access-Control-Allow-Origin *

    header Access-Control-Allow-Credentials true

}

http://storage.localhost:1001 {
    reverse_proxy minio:9000
}

http://minio.localhost:1001 {
    reverse_proxy minio:9001
}


