[program:laravel-horizon-$HORIZON_DOMAIN]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/html/artisan horizon --domain=$HORIZON_DOMAIN
user=devilbox
autostart=true
autorestart=true
numprocs=1
redirect_stderr=true
stopwaitsecs=3600
#logfile=/etc/supervisor/conf.d/horizon.log
stdout_logfile          = /dev/stdout
stdout_logfile_maxbytes = 0
stdout_events_enabled   = true

stderr_logfile          = /dev/stderr
stderr_logfile_maxbytes = 0
stderr_events_enabled   = true
